body {
    font-family: Arial;
    background: #f5f6fa;
}

nav {
    background: #2f3640;
    padding: 10px;
}

nav a {
    color: white;
    margin-right: 15px;
}

.card {
    background: white;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
}